<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steam - Top 50</title>
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<ul>
    <ul class="list-group">
        {% for titulo in titulos %}
            <li class="list-group-item">{{ titulo }} : {{ precos[loop.index0] }}</li>
        {% endfor %}
    </ul>
</ul>
    <a href="#" class="btn btn-dark" id="download-link">Baixar como arquivo Excel</a>
    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</body>
</html>